---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold">
        Experience
      </h1>
    </header>
    <div class="mt-3 space-y-2">
      <div>
        <h3 class="text-lg font-semibold">Senior Machine Learning Engineer</h3>
        <a class="text-sm text-primary-500" href="https://www.newfireglobal.com//">Newfire</a>
        <p class="text-sm text-gray-500"> 2024 - Current </p>
      </div>
      <div>
        <h3 class="text-lg font-semibold">Senior Data Scientist</h3>
        <a class="text-sm text-primary-500" href="https://www.cognizant.com/">Cognizant</a>
        <p class="text-sm text-gray-500"> 2022 - 2024 </p>
      </div>
      <div>
        <h3 class="text-lg font-semibold">ML Engineer</h3>
        <a class="text-sm text-primary-500" href="https://iasolver.es/"> Solver IA </a>
        <p class="text-sm text-gray-500"> 2022 - 2023 </p>
      </div>
      <!-- 
      <div>
        <h3 class="text-lg font-semibold">ML Researcher</h3>
        <a class="text-sm text-primary-500" href="https://www.upv.es/"> UPV </a>
        <p class="text-sm text-gray-500"> 2018 - 2022 </p>
      </div>
      -->
    </div>
  </div>
</Card>
