---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Aidventure from "./icons/Aidventure.astro";
import Kaggle from "./icons/Kaggle.astro";
import { Image } from "astro:assets";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4 pr-6">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0">welcome</h6>
        <p class="m-0 font-light text-xl">
          Hi, I'm <b class="font-bold">Mario Parreño</b>, a Senior Machine Learning Engineer specializing in <b class="font-bold">Agentic AI</b>, <b class="font-bold">RAG</b>, and <b class="font-bold">Computer Vision</b>. I focus on designing scalable AI architectures and autonomous systems that solve complex, real-world problems with precision and efficiency.
        </p>
      </div>
      <div class="flex gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github class="h-6 w-6 transition text-gray-500 hover:text-primary-500" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkeding profile" target="_blank">
          <Button aria-label="linkedin profile">
            <Linkedin class="h-6 w-6 transition text-gray-500 hover:text-primary-500" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.aidventure} aria-label="dribble profile" target="_blank">
          <Button aria-label="dribble profile">
            <Aidventure class="h-6 w-6 transition text-gray-500 hover:text-primary-500" />
            <span class="sr-only">Aidventure Blog</span>
          </Button>
        </a>
        <a href={LINKS.kaggle} aria-label="dribble profile" target="_blank">
          <Button aria-label="dribble profile">
            <span class="h-6 w-6 flex items-center justify-center">
            <Kaggle class="h-5 w-5 transition text-gray-500 hover:text-primary-500" />
          </span>
            <span class="sr-only">Kaggle Profile</span>
          </Button>
        </a>
      </div>
    </div>
    <Image
      width="300"
      height="300"
      src="/me.webp"
      class="rounded w-auto max-h-[300px] select-none absolute right-[-110px] bottom-[-20px] z-[-1] opacity-50 md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto pointer-events-none"
      alt="picture of mario"
    />
  </div>
</Card>
