---
import Card from "./Card/index.astro";
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="My Stats">
  <div class="flex flex-col sm:flex-row w-full mt-3">
    <div class="flex w-full sm:w-1/2">
      <p class="text-sm">
        Top Kaggle Expert and published researcher. I turn complex challenges into practical, high-impact AI solutions.
      </p>
    </div>
    <div class="flex flex-col w-full sm:w-1/2 text-right mt-2 sm:mt-0">
      <h2 class="text-2xl font-bold m-0 z-20">
        ~7
        <span class="text-primary-500">Years Experience</span>
      </h2>

      <h2 class="text-2xl font-bold m-0 z-20 mt-2">
        +10
        <span class="text-primary-500">Certificates</span>
      </h2>
    </div>
  </div>
</Card>
